In [49]:
import pandas as pd #main lib for hadnling and cleaning csv/data STEP ONE
import os #helps python work with file paths

#define data folder STEP TWO
data_folder = 'data'

#Load the books csv STEP THREE

books_file = os.path.join(data_folder, '03_library systembook.csv') #joins foler and file name
books_df = pd.read_csv(books_file) #loads csv into a dataframe

In [50]:
books_df

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0
...,...,...,...,...,...,...
109,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#Remove duplicates STEP FOUR

books_df = books_df.drop_duplicates() #removes rows that are the same

In [52]:
books_df

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0
5,6.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
6,7.0,IT,"""10/04/2063""",03/04/2023,2 weeks,6.0
7,8.0,Misery,"""15/04/2023""",03/04/2023,2 weeks,7.0
8,9.0,Catch 22,"""15/04/2023""",16/04/2023,2 weeks,7.0
9,10.0,Animal Farm,"""20/04/2023""",24/04/2023,2 weeks,2.0
10,11.0,1984,"""23/04/2023""",27/04/2023,2 weeks,8.0
11,12.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
12,13.0,East of Eden,"""30/04/2023""",05/05/2023,2 weeks,2.0
13,14.0,America Is in the Heart,"""01/05/2023""",07/05/2023,2 weeks,3.0
14,15.0,Wuthering Heights,"""01/05/2023""",10/05/2023,2 weeks,9.0
15,16.0,Dark Tales,"""15/05/2023""",01/06/2023,2 weeks,2.0
16,17.0,The Bloody Chamber,"""32/05/2023""",04/06/2023,2 weeks,3.0
17,18.0,Les Miserables,"""03/06/2023""",07/06/2023,2 weeks,5.0
18,19.0,Dracula,"""10/06/2023""",10/07/2023,2 weeks,10.0
19,20.0,Frankenstein,"""01/06/2023""",20/06/2023,2 weeks,2.0
20,21.0,NaN,"""01/06/2023""",05/06/2023,2 weeks,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
#Fix missing Values- STEP FIVE

books_df.loc[:,'Customer ID'] = books_df['Customer ID'].fillna('unknown')
books_df.loc[:,'Books'] = books_df['Books'].fillna('unknown')
books_df.loc[:,'Book checkout']= books_df['Book checkout'].fillna('unknown')
books_df.loc[:,'Book Returned']= books_df['Book Returned'].fillna('unknown')
books_df.loc[:,'Days allowed to borrow'] = books_df['Days allowed to borrow'].fillna('unknown')
books_df.loc[:, 'Id']= books_df['Id'].fillna('0')

C:\Users\Admin\AppData\Local\Temp\ipykernel_8072\3086098864.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 2.0 3.0 4.0 5.0 1.0 6.0 7.0 7.0 2.0 8.0 1.0 2.0 3.0 9.0 2.0 3.0 5.0
 10.0 2.0 'unknown' 'unknown']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  books_df.loc[:,'Customer ID'] = books_df['Customer ID'].fillna('unknown')
C:\Users\Admin\AppData\Local\Temp\ipykernel_8072\3086098864.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 2.0 3.0 4.0 5.0 6.0 7.0 8.0 9.0 10.0 11.0 12.0 13.0 14.0 15.0 16.0
 17.0 18.0 19.0 20.0 21.0 '0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  books_df.loc[:, 'Id']= books_df['Id'].fillna('0')

In [54]:
books_df.columns

Index(['Id', 'Books', 'Book checkout', 'Book Returned',
       'Days allowed to borrow', 'Customer ID'],
      dtype='object')

In [55]:
books_df

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0
5,6.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
6,7.0,IT,"""10/04/2063""",03/04/2023,2 weeks,6.0
7,8.0,Misery,"""15/04/2023""",03/04/2023,2 weeks,7.0
8,9.0,Catch 22,"""15/04/2023""",16/04/2023,2 weeks,7.0
9,10.0,Animal Farm,"""20/04/2023""",24/04/2023,2 weeks,2.0
10,11.0,1984,"""23/04/2023""",27/04/2023,2 weeks,8.0
11,12.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
12,13.0,East of Eden,"""30/04/2023""",05/05/2023,2 weeks,2.0
13,14.0,America Is in the Heart,"""01/05/2023""",07/05/2023,2 weeks,3.0
14,15.0,Wuthering Heights,"""01/05/2023""",10/05/2023,2 weeks,9.0
15,16.0,Dark Tales,"""15/05/2023""",01/06/2023,2 weeks,2.0
16,17.0,The Bloody Chamber,"""32/05/2023""",04/06/2023,2 weeks,3.0
17,18.0,Les Miserables,"""03/06/2023""",07/06/2023,2 weeks,5.0
18,19.0,Dracula,"""10/06/2023""",10/07/2023,2 weeks,10.0
19,20.0,Frankenstein,"""01/06/2023""",20/06/2023,2 weeks,2.0
20,21.0,unknown,"""01/06/2023""",05/06/2023,2 weeks,unknown
21,0,unknown,unknown,unknown,unknown,unknown

In [ ]:
# FIX ME: Remove the speechmarks from the above!

In [45]:
# Convert Dates- STEP SIX

books_df.loc['Book checkout'] = pd.to_datetime(books_df['Book checkout'],format='%d%m%y', errors='coerce')
books_df.loc['Book Returned'] = pd.to_datetime(books_df['Book Returned'],format='%d%m%y', errors='coerce')

In [48]:
books_df.head(n=100)

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,NaT,NaT,2 weeks,1.0
1,2.0,Lord of the rings the two towers,NaT,NaT,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,NaT,NaT,2 weeks,3.0
3,4.0,The hobbit,NaT,NaT,2 weeks,4.0
4,5.0,Dune,NaT,NaT,2 weeks,5.0
5,6.0,Little Women,NaT,NaT,2 weeks,1.0
6,7.0,IT,NaT,NaT,2 weeks,6.0
7,8.0,Misery,NaT,NaT,2 weeks,7.0
8,9.0,Catch 22,NaT,NaT,2 weeks,7.0
9,10.0,Animal Farm,NaT,NaT,2 weeks,2.0
10,11.0,1984,NaT,NaT,2 weeks,8.0
11,12.0,Little Women,NaT,NaT,2 weeks,1.0
12,13.0,East of Eden,NaT,NaT,2 weeks,2.0
13,14.0,America Is in the Heart,NaT,NaT,2 weeks,3.0
14,15.0,Wuthering Heights,NaT,NaT,2 weeks,9.0
15,16.0,Dark Tales,NaT,NaT,2 weeks,2.0
16,17.0,The Bloody Chamber,NaT,NaT,2 weeks,3.0
17,18.0,Les Miserables,NaT,NaT,2 weeks,5.0
18,19.0,Dracula,NaT,NaT,2 weeks,10.0
19,20.0,Frankenstein,NaT,NaT,2 weeks,2.0
20,21.0,unknown,NaT,NaT,2 weeks,unknown
21,unknown,unknown,NaT,NaT,unknown,unknown
Customer ID,unknown,unknown,NaT,NaT,unknown,unknown
Book checkout,NaT,NaT,NaT,NaT,NaT,NaT
Book Returned,NaT,NaT,NaT,NaT,NaT,NaT

In [ ]:


#Drop Rows with InValid Dates- STEP SEVEN (change this to if valid ok, if day is invalid take it out into an errors csv)

books_df = books_df.dropna(subset=['book check out', 'book returned'])

# Load customer CSV- STEP EIGHT

customers_file= ps.path.join(data_folder, '03_Library SystemCustomers.csv')
customers_df = pd.read_csv(customers_file)

# Remove Dupliactes and fix missing values (customers csv)- STEP NINE

customers_df = customers_df.drop_duplicates()
customers_df['customer id'] = customers_df['customer id'].fillna ('unknown')
customers_df['customer name'] = customers_df['customer name'].fillna ('unknown')

KeyError: 'book check out'